/* CSS for my home page */

#title {color:#51165c; text-align: center;}

#biotitle {color: aqua; text-align: center;}

#bio {color:darkslategrey;}

.title {text-align: center;}

#restitle {color:dodgerblue; text-align: center}